* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Helvietica Neue', Helvetica, Arial, sans-serif;
    background-color: #c1b5AD;
    
}
#map {
    height: 100vh;
    width: 100vw;
}